html,
body,
.v-application,
.v-application * {
  font-family: "Poppins", sans-serif !important;
}

:root {
  --max-content-width: 1100px;
}

#app {
  min-height: 100vh;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}
.v-application.theme--light {
  background: linear-gradient(135deg, #9ec9fc4d, #9ec9fc) !important;
}
.v-application.theme--dark {
  background: linear-gradient(135deg, #1e1e1e, #111) !important;
}
.theme--light .location-btn.v-btn.v-btn--outlined {
  border-color: rgba(0, 0, 0, 0.6) !important;
}
.theme--dark .location-btn.v-btn.v-btn--outlined {
  border-color: #fff !important;
}
.theme--light .location-btn .v-icon {
  color: white !important;
}
